* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

input,
button {
  outline: none;
}

body {
  background-color: #282c34;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
div,
ul,
li {
  color: #fff;
}

.App {
  padding: 16px;
}

.children-color-black div,
p {
  color: #000;
}

input:focus {
  border: 2px solid #2146c7 !important;
}

/* input, */
button:disabled {
  cursor: not-allowed !important;
}

.box-shadow-01 {
  box-shadow: rgba(3, 102, 214, 0.3) 4px 6px 2px 3px;
  background-color: #fff;
  border-radius: 6px;
  min-height: 600px;
}

.toastui-editor-contents code {
  background-color: #2146c7 !important;
}

.toastui-editor-contents hr {
  border: 0.5px solid #263238 !important;
}

.toastui-editor-contents span {
  font-size: 17px !important;
  line-height: 120px;
}

.scrollBar::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

.scrollBar::-webkit-scrollbar-thumb {
  background: #37485d; /* 스크롤바의 색상 */
}

.exam-btn {
  width: 120px;
  height: 40px;
  font-weight: bold;
  background-color: #263238;
  color: #fff;
  font-size: 16;
  border-radius: 6;
}

.cm-theme-dark {
  font-size: 18px;
}
